{% extends '_base.html' %}
{% load static %}

{% block title %}
  Your Exams
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-3">Available Exams</h1>
  <div class="row">
    <div class="col">
      <p>
        <span class="lead">Your exam tokens: <strong>{{ user_exam_tokens }}</strong></span><br /><a href="{% url 'get-access-buy' %}">Buy more tokens</a>
      </p>
      <span class="small">Each exam attempt requires one token. You will be asked to confirm your choice before you begin. <br />Note: If you got disconnected and are simply resuming an attempt you will not be charged.</span>
    </div>
  </div>
  <div class="row">
    {% for exam in exams %}
      {% if exam.is_active or request.user.is_staff %}
        <div class="col-md-4 p-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between align-items-start">
                <h5 class="card-title">{{ exam.name }}</h5>
                <img src="{% static 'images/logo-square.png' %}" style="width: 40px; height: auto;" alt="Card image cap" />
              </div>
              <p>2 hours to complete</p>
              <p>{{ exam.questions }} questions</p>
              <div class="mt-auto">
                {% if request.user.is_staff and not exam.is_active %}
                  <p class="text-danger mb-2">Not open to the public. You are seeing this exam because you are an admin.</p>
                {% elif request.user.is_staff %}
                  <p class="text-success mb-2">Open to the public.</p>
                {% endif %}
                {% if user_exam_tokens > 0 %}
                  <button class="btn btn-primary w-100 start-quiz" data-exam-id="{{ exam.uuid }}">Start exam</button>
                {% else %}
                  <button class="btn btn-primary w-100" disabled>No tokens</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
 
{% endblock %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    document.querySelectorAll('.start-quiz').forEach((button) => {
      button.addEventListener('click', function () {
        var examUUID = this.getAttribute('data-exam-id')
        Swal.fire({
          title: 'Ready to begin?',
          text: 'You are about to begin the exam. You have one attempt and two hours to complete. This will spend 1 token. Are you ready to begin?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#175781',
          cancelButtonColor: '#F34C4C',
          confirmButtonText: 'Spend token and start exam'
        }).then((result) => {
          if (result.isConfirmed) {
            // Redirect to take exam view with quiz uuid
            window.location.href = '/exams/exam/' + examUUID
          }
        })
      })
    })
  </script>
{% endblock %}
