{% extends '_base.html' %}

{% block title %}Single Question{% endblock %}

{% block content %}
<h1>Welcome to the Exam.</h1><br>

{% if question_does_not_exist %}
<h6>Question with an id of {{ pk }} does not exist.</h6>
{%else%}
    <h6>{{ question.question }}</h6>

    <form action="" method="post">
        {% csrf_token %}
        {% for choice in question.choices.all %}
        
        <label for="{{ choice.id }}">{{ choice.text }}</label>
        <input id="choice{{ choice.id }}" type="radio" name="user_choice" value="{{ choice.id }}"><br>
        
        {% endfor %}
        <input type="submit" value="Next question">

    </form>
    
    <div class="container" style='background-color: antiquewhite;'>
        
        {% if is_correct %}
        <p class="lead" style="color: green;">Correct!</p>
        {%else%}
        <p class="lead" style="color: red;">Incorrect.</p>
        {%endif%}

    </div>
{%endif%}
    
{% endblock content %}