{% extends '_base.html' %}
{% load static %}

{% block title %}Exam{% endblock title %}

{% block content %}
<div class="container">
    
    <h2>{{ exam.name }}</h2>
    
    
    <p>Welcome to the exam. You have two hours to complete.</p>
    <p id="countdown" style="float: right; color: red;">Time left.</p>

        <p class="lead" id="question-text"></p>


        <form id="exam-form">
            {% csrf_token %}
            <div class="form-check">
                {% for choice in question.choices.all %}

                <label class="form-check-label" for="{{ choice.id }}">{{ choice.text }}</label>
                <input class="form-check-input" id="choice{{ choice.id }}" type="radio" name="user_choice" value="{{ choice.id }}"><br>
                
    
                {% endfor %}
                <input class="btn btn-primary m-2" type="submit" value="Next question">
            </div>

        </form>

        
        {% if DEBUG %}
            <div class="container" style='background-color: antiquewhite;'>
                
                <p class="lead" style="color: green;">User question index: {{user_exam_state.current_question_index}}</p>
                <p class="lead" style="color: green;">Question: {{question.id}}</p>

            </div>
            
            <button onclick="getSpecialMessage()" class="btn btn-secondary">Get!</button>

            <button onclick="postSpecialMessage()" class="btn btn-dark">Post !</button>
        {%endif%}

            

</div>

<script>

    const form = document.getElementById('exam-form');
    const csrftoken = form.querySelector('[name=csrfmiddlewaretoken]').value;

    form.addEventListener('submit', event =>{
        event.preventDefault();

        const formData = new FormData(form);
        const data = new URLSearchParams(formData);

        fetch("{% url 'take-exam' exam.uuid %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": csrftoken
            },
            body: data
        }).then(res => res.json()).then(question =>{
            questionEl = document.getElementById('question-text')
            console.log(question["text"])
            questionEl.innerHTML = question["text"]
            console.log(question);
        })
    });

    function getSpecialMessage(){
        fetch({% url 'test-ajax' %}, {
            method: 'GET',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            }
        }).then(
            response => response.json()).then(
                data=> {
                    console.log(data["item"]);
                }
            )
    }

    function postSpecialMessage(){
        fetch({% url 'test-ajax' %}, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({payload: "It worked again!"})
        }).then(
            response => response.json()).then(
                data=> {
                    console.log(data["item"]);
                }
            )
    }
    

    function startCountdown() {
        // Calculate the end time (2 hours from now)
        const endTime = new Date();
        endTime.setTime(endTime.getTime() + 100000); // 2 hours in milliseconds
      
        // Update the countdown every second
        const timerInterval = setInterval(function() {
          const currentTime = new Date().getTime();
          const timeLeft = endTime - currentTime;
      
          if (timeLeft <= 0) {
            clearInterval(timerInterval);
            console.log("Countdown timer has ended!");
            document.getElementById("countdown").innerHTML = "Time ended. Redirecting..."
            setTimeout(function(){
                return  window.location.href = "{% url 'exam-complete' %}"
            }, 2000)

          } else {
            const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
            
            document.getElementById("countdown").innerHTML = hours + "h " + minutes + "m " + String(seconds) + "s";

            console.log(`Time left: ${hours} hours ${minutes} seconds ${seconds}`);
          }
        }, 1000); // Update every 1 second
      }
      
      // Call the function to start the countdown
      //startCountdown();
</script>

{% endblock content %}