{% extends '_base.html' %}
{% load static %}

{% block title %}Exam{% endblock title %}

{% block content %}
<div class="container">
    
    <h2>{{ exam.name }}</h2>
    
    
    <p>Welcome to the exam. You have two hours to complete.</p>

        <p class="lead">{{ question.text }}</p>


        <form action="{% url 'take-exam' exam.uuid %}" method="post">
            {% csrf_token %}
            <div class="form-check">
                {% for choice in question.choices.all %}

                <label class="form-check-label" for="{{ choice.id }}">{{ choice.text }}</label>
                <input class="form-check-input" id="choice{{ choice.id }}" type="radio" name="user_choice" value="{{ choice.id }}"><br>
                
    
                {% endfor %}
                <input class="btn btn-primary m-2" type="submit" value="Next question">
            </div>

        </form>

        
        {% if DEBUG %}
            <div class="container" style='background-color: antiquewhite;'>
                
                <p class="lead" style="color: green;">User question index: {{user_exam_state.current_question_index}}</p>
                <p class="lead" style="color: green;">Question: {{question.id}}</p>

            </div>
            {%endif%}

</div>
{% endblock content %}