{% extends '_base.html' %}
{% load static %}

{% block title %}Exam{% endblock title %}

{% block nav %}
{% comment %} Don't display nav while taking an exam. {% endcomment %}
{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row p-md-4">
        <div class="col-sm-6"><h6>{{ exam.name }}</h6></div>

        <div class="col-sm-6"><h6 id="countdown" style="float: right"></h6></div>
    
    </div>
    <div class="row p-md-4">
        <div class="col">
            <p id="question-text">{{ question.text }}</p>

            <form id="exam-form">
                {% csrf_token %}
                <div class="form-check">
                    {% for choice in question.choices.all %}

                    <label class="form-check-label" for="choice{{ choice.id }}">{{ choice.text }}</label>
                    <input required class="form-check-input" id="choice{{ choice.id }}" type="radio" name="user_choice" value="{{ choice.id }}">
                    <br>
                    
        
                    {% endfor %}
                    <br>
                    <input class="btn btn-primary m-2" type="submit" value="Next question">
                </div>

            </form>
        </div>
    </div>

    <div class="row p-md-4 text-center">
        <p style="border-radius: 3px; max-width: 700px;" id="low-time-warning"></p>
    </div>
    
        
</div>
{% endblock content %}

{% block javascript %}
<script>

    const form = document.getElementById('exam-form');
    const hidden = form.querySelector('[name=csrfmiddlewaretoken]');
    const csrftoken = hidden.value;
    
    const state_id = {{exam_state_id}} // this is a django variable passed in with the context on inital get request

    
    function nextQuestion(question){
        var form = document.getElementById('exam-form');
        var questionEl = document.getElementById('question-text')

        questionEl.innerHTML = question["text"]
        form.innerHTML = "";

        form.appendChild(hidden)

        var choiceDiv = document.createElement('div');
        choiceDiv.className = "form-check";

        choices = question["choices"]
        choices.forEach(function(choice){
            console.log(choice)
            const input = document.createElement('input');
            input.id = `choice${choice["id"]}`;
            input.type = 'radio';
            input.name = "user_choice"
            input.value = choice["id"]
            input.className = "form-check-input";
            input.setAttribute("required", "required")

            const label = document.createElement('label');
            label.setAttribute('for', `choice${choice["id"]}`)
            label.textContent = choice["text"];
            label.className = "form-check-label";

            br = document.createElement('br')
            choiceDiv.appendChild(label);
            choiceDiv.appendChild(input);
            choiceDiv.appendChild(br)
            
        })

        const submit = document.createElement('input');
        submit.className = 'btn btn-primary m2'
        submit.type = 'submit';
        submit.value = 'Next question';

        br = document.createElement('br')
        choiceDiv.appendChild(br)
        choiceDiv.appendChild(submit)
        
        form.appendChild(choiceDiv)
        console.log(form);

    }

    form.addEventListener('submit', event =>{
        event.preventDefault();

        const formData = new FormData(form);
        const data = new URLSearchParams(formData);

        fetch("{% url 'take-exam' exam.uuid %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": csrftoken
            },
            body: data
        }).then(response => response.json()).then(data =>{

            if (data["complete"] === true) {
                console.log("Redirected by Javascript!")
                window.location.href = "{% url 'exam-complete' %}";
            }
            else {
                console.log("Data recieved. Inside of fetch method:")
                console.log(data)
                nextQuestion(data);
            };

            
            
        })
    });
    
    function startCountdown() {
        // Calculate remaining timer
        const endTime = new Date("{{time_started}}");
        endTime.setTime(endTime.getTime() + 2 * 60 * 60 * 1000); // 2 hours in milliseconds 2 * 60 * 60 * 1000
        
        function updateCountdown() {
            const currentTime = new Date().getTime();
            const timeLeft = endTime - currentTime;
            console.log(timeLeft)
          
            // at 5 minutes left display a warning
            if (timeLeft <= 300000){
              warning = document.getElementById('low-time-warning');
              warning.className = 'bg-warning p-2';
              warning.innerHTML = 'You have 5 minutes remaining. When the timer ends the exam will be graded as is.';
              setTimeout(function(){
                  warning.style.display = "none";
              }, 15000) // display warning for 15 seconds
            }
            if (timeLeft <= 0) {
              document.getElementById("countdown").innerHTML = "Exam time has ended. Automatically redirecting..."
  
              fetch("{% url 'grade-endpoint' %}", {
                  method: 'POST',
                  credentials: 'same-origin',
                  headers: {
                      "Content-Type": 'application/json',
                      "X-CSRFToken": csrftoken
                  },
                  body: JSON.stringify({"id": state_id})
              }).then(response => response.json()).then(data =>{
                  // do nothing with response
              })
  
              setTimeout(function(){
                  return  window.location.href = "{% url 'exam-complete' %}"
              }, 2000)
  
            } else {
              const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
              const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
              
              document.getElementById("countdown").innerHTML = hours + "h " + minutes + "m ";
  
            }
          }
          
        updateCountdown(); // Update display on page load
        
        setInterval(updateCountdown, 60000); // Then update every 1 minute. Note: The display will be slightly off if they leave and come back.
        // For example, if someone rejoins at the 45th second of a minute the countdown will then update on every 45th second. However, their
        // actual time remaining is still updating according to when they first started the exam. This could result in the exam ending ubrupty
        // under 1 minute remaining. I could make this less of an issue by updating the display more frequently, or even fixing it 
        // entirely but updating the display at the same time interval they stated on. Like the 32nd second of a minute for example.
      }
      
      // Start the countdown
      startCountdown();

</script>
{% endblock javascript %}