# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv

# VS Code
.idea

sampdata

.env

base/local_settings.py

test.js
debug.html
sendgrid.env
testsendgrid.py

zfinal-json
zreview-questions-final-json
createquestionslog.txt
createquizzeslog.txt

zdata-to-import
zfiles-to-rerun
zlogs
CLAUDE.md
predicted_scores/
zpredicted_scores/