{% extends '_base.html' %}
{% load static %}
{% block title %}
  About page
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Header -->
    <header class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1 class="fw-bolder mb-3">Pass the exam the first time.</h1>
              <p class="lead fw-normal text-muted mb-4">In the years past, it has been difficult to study for cardiovascular perfusion board exams. Not anymore.</p>
              <a class="btn btn-primary btn-lg" href="#scroll-target">How this works</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About section one -->
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'images/logo-square-side.png' %}" alt="..." />
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">We understand.</h2>
            <p class="lead fw-normal text-muted mb-0"></p>
            <p>You've just graduated, and now you're gearing up for a comprehensive exam that stands between you and your CCP title—<em>and that well-deserved salary boost</em>.</p>
            <p>But there are so many questions.</p>
            <p>How should I study? What areas should I focus on? What is the real exam like?</p>
            <p>
              <span><strong>We are here to help answer some of those questions.</strong></span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About section two -->
    <section class="py-5" id="scroll-target">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last">
            <img class="img-fluid rounded mb-5 mb-lg-0" style="width:400px; float: right;" src="{% static 'images/results-sample.jpg' %}" alt="..." />
            
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">How this works</h2>
            <p class="lead fw-normal text-muted mb-0">Prepare with four practice exams.</p>
            <p>
              <ul>
                <li>2 Basic Science Exams</li>
                <li>2 Clinical Application Exams</li>
              </ul>
            <p id="text-primary">
              <strong>Each exam consists of 100 questions and has a 2 hour time limit—exactly half the length of the real board exam.</strong>
            </p>
            <p>After completing each practice exam, you'll receive a detailed breakdown of your performance across 11 key categories, mirroring the structure of the real board exam.</p>
            <p id="text-primary"><strong>This analysis will highlight your strengths and pinpoint the areas where you need to focus your studies.</strong></p>
            <p>Use the first exam to identify and address any problem areas, then take the second exam to solidify your knowledge and build confidence before the big day.</p>
            <a class="btn btn-primary" href="{% url 'account_signup' %}">Create an account to get started</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
