{% extends '_base.html' %}

{% block title %}
  Buy Access
{% endblock %}

{% block content %}
  <!-- Pricing section -->
  <section class="bg-light py-5">
    <div class="container px-3 my-3">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Exam pricing</h1>
        <p class="lead fw-normal text-muted mb-0">Only pay for what you need</p>
        <br>
        {% if not request.user.is_authenticated %}
        <p>Create an account or log in to get started.</p>
        <a class="btn btn-primary" href="{% url 'account_signup' %}">Create account</a>
        <a class="btn btn-outline-secondary" href="{% url 'account_login' %}">Log in</a>
        {% endif %}
      </div>
      <div class="row gx-5 justify-content-center">
        <!-- Pricing card pro -->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold">Per Exam</div>
              <div class="mb-3">
                <span class="display-4 fw-bold">$100</span>
                <span class="text-muted">/ exam</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  <strong>One exam</strong>
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  100 board like questions
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  You choose the exam type
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Targeted feedback
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Made by Educators
                </li>
              </ul>
              <div class="d-grid">
                {% if request.user.is_authenticated %}
                <form action="{% url 'stripe-checkout' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="price-id" value="price_1OT56jHnSCQ3O7d7brxHhRJn" />
                  <button class="btn btn-primary" type="submit" id="checkout-button">Buy 1 exam token</button>
                </form>                
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold">
                <i class="bi bi-star-fill text-warning"></i>
                Exam Bundle
              </div>
              <div class="mb-3">
                <span class="display-4 fw-bold">$250</span>
                <span class="text-muted">all access</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  <strong>Access all four exams</strong>
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  <strong>400 board like questions</strong>
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  All exam types
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Targeted feedback
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Made by Educators
                </li>
              </ul>
              <div class="d-grid">
                {% if request.user.is_authenticated %}
                  <form action="{% url 'stripe-checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="price-id" value="price_1OhxzNHnSCQ3O7d7ZCmrR6ai" />
                    <button class="btn btn-primary" type="submit" id="checkout-button">Buy 4 exam tokens</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
