{% extends '_base.html' %}

{% block title %}Buy Access{% endblock %}


{% block content %}

<!-- Pricing section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Per exam pricing</h1>
            <p class="lead fw-normal text-muted mb-0">Only pay for what you need</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            1 Exam
                        </div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$100</span>
                            <span class="text-muted">/ exam</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>100 board like questions</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                2 hours to complete
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                You choose the exam type
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Basic Science
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-white"></i>
                                or
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Clinical Application
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                               Made by Educators
                            </li>
                        </ul>
                        <div class="d-grid"> <form action="{% url 'stripe-checkout' %}" method="POST">
                            {% csrf_token %}
                          <button class="btn btn-primary" type="submit" id="checkout-button">Get access</button>
                        </form></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}