{% extends '_base.html' %}
{% load static %}

{% block title %}Perfusion Board Prep{% endblock title %}

{% block content %}
<!-- Header-->
<header class="bg-light py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder text-black mb-2">PerfusionBoardPrep.com</h1>
                  <p class="lead fw-normal text-black-50 mb-4">Your tool to help you pass the exam the first time.</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'my-exams' %}">Available Exams</a>
                    {%else%}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Create account</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'about' %}">Learn More</a>
                    {%endif%}
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" style="width:200px; height:auto;" src="{% static 'images/logo-no-text.jpg' %}" alt="..." /></div>
      </div>
  </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to learn.</h2></div>
          <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                      <h2 class="h5">Featured title</h2>
                      <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                  </div>
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                      <h2 class="h5">Featured title</h2>
                      <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                  </div>
                  <div class="col mb-5 mb-md-0 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                      <h2 class="h5">Featured title</h2>
                      <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                  </div>
                  <div class="col h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                      <h2 class="h5">Featured title</h2>
                      <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}
