{% extends '_base.html' %}
{% load static %}

{% block title %}Perfusion Board Prep{% endblock title %}

{% block content %}
<!-- Header-->
{% comment %} <header class="bg-light py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-12 col-xl-12 col-xxl-12 justify-content-center" style="display: flex;">
              <div class="my-5 text-center text-xl-start">
                <img class="img-fluid my-3" style="width:600px; height:auto;" src="{% static 'images/logo-long.png' %}" alt="..." />
                  <p class="lead fw-normal text-black-50 mb-4">Your tool to help. This product was made for perfusionists, by perfusionists.</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'my-exams' %}">Available Exams</a>
                    {%else%}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Create account</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'about' %}">Learn More</a>
                    {%endif%}
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</header> {% endcomment %}

<!-- Header-->
<header class="bg-light py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder mb-2">Boost your confidence and master the exam</h1>
                  <p class="lead fw-normal text-black-50 mb-4">We offer real CCP board like exams to help you pass the exam the first time. <span id="text-secondary">Built by Perfusionists.</span></p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Get Started</a>
                      <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'about' %}">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
      </div>
  </div>
</header>

<!-- Features section-->
<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <!-- Page Features-->
<div class="row gx-lg-5">
  <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div id="iconBlue" class="feature text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
              <h2 class="fs-4 fw-bold">Simple and easy to use
              </h2>
              <p class="mb-0">We make it easy to navigate through practice exams so you can focus on what matters—studying. Just log in, select your exam, and get started.</p>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xxl-4 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div id="iconBlue" class="feature text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bullseye"></i></div>
            <h2 class="fs-4 fw-bold">Targeted feedback</h2>
            <p class="mb-0">This program was designed to indicate where to focus your studies to prepare for exam day.</p>
        </div>
    </div>
</div>
  <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div id="iconBlue" class="feature text-white rounded-3 mb-4 mt-n4"><i class="bi bi-pencil"></i></div>
              <h2 class="fs-4 fw-bold">Know you're ready for the exam</h2>
              <p class="mb-0">With board style questions in a board style format, you can rest assured that you'll be prepared on exam day.</p>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div id="iconBlue" class="feature text-white rounded-3 mb-4 mt-n4"><i class="bi bi-heart-pulse"></i></div>
              <h2 class="fs-4 fw-bold">We are subject matter experts</h2>
              <p class="mb-0">PBP's content was made by educators, authors of your textbooks and perfusionists that were top performers on their exams.</p>
          </div>
      </div>
  </div>
  

</section>

<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                  <div class="fs-4 mb-4 fst-italic">"PerfusionBoardPrep was very helpful when studying.  It offered multiple realistic timed practice tests to help me gauge where I was at, what I needed to work on and feel confident when it came time to take boards"</div>
                  <div class="d-flex align-items-center justify-content-center">
                      {% comment %} <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." /> {% endcomment %}
                      <div class="fw-bold" id="text-primary">
                        Maria Akery, CCP
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
