.btn-primary {
    background-color: #175781;
    border-color: #175781;
}
.btn-outline-secondary:hover {
    background-color: #175781;
}

.btn-primary:hover{
    background-color: #6c757d;
}

.bg-primary {
    background-color: #175781;
}

a {
    color: #175781;
}

a:hover {
    color: #F34C4C
}

#iconBlue {
    background-color: #175781;
}

#text-primary {
    color: #175781;   
}