body {
    font-family: 'Poppins';
}

h1 {
    color: #175781;
}
        
.btn-primary {
    background-color: #175781;
    border-color: #175781;
}
.btn-outline-secondary:hover {
    background-color: #175781;
}

.btn-primary:hover{
    background-color: #F34C4C;
    border-color: #F34C4C;
}

.bg-primary {
    background-color: #175781;
}

.bg-dark {
    background-color: #175781 !important;
}

a {
    color: #175781;
}

a:hover {
    color: #F34C4C
}

#iconBlue {
    background-color: #F34C4C;
}

#text-primary {
    color: #175781;   
}

#text-secondary {
    color: #F34C4C;
}

#logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: #175781;
    border-radius: 2px;
    padding: 8px 8px;
    letter-spacing: .5px;
}
#big-logo {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: #175781;
    border-radius: 2px;
    padding: 8px 8px;
    letter-spacing: .5px;
    text-align: center;
}
#logo-heart {
    padding-right: 5px;
    font-size: 1rem;
    /* color: #F34C4C; */
}
#tagline {
    font-size: .5rem;
}

/* Offical red : #E51F22
   Official blue: #161F65
*/