{% extends '_base.html' %}
{% block title %}Your Quizzes{% endblock title %}

{% block content %}
<div class="container">
    <h5 class="mt-4 mb-1">{{ quiz_type }}</h5>
    <h1 class="mt-2 mb-4">{{ category_name }} <i class="{{ selected_category.icon }} category-icon"></i></h1>

    <div class="row">
      {% for quiz in page_obj %}
        <div class="col-md-4 p-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between align-items-start">
                <h5 class="card-title">{{ quiz.title }}</h5>
              </div>
              <p class="text-muted-small">
                {% if not quiz.has_started %}
                Not started.
                {% elif quiz.has_started and not quiz.completed %}
                <span class="text-success">In progress.</span>
                <p>Question {{ quiz.current_question_index | add:1 }} / {{ quiz.question_count }}</p>
                {% elif quiz.completed %}
                <span class="text-success">Quiz Complete. You can still review your answers.</span>
                {% endif %}
              </p>
              <p>{{ quiz.question_count }} questions</p>
              {% if quiz.completed %}
                <p><span style="font-size: 14px" class="badge bg-primary">Score: {{ quiz.score }}%</span></p>
              {% endif %}
              <div class="mt-auto">
                {% if quiz.completed %}
                  <a href="{% url 'take-quiz' quiz.uuid %}" class="btn btn-primary w-100">Review answers</a>
                {% elif quiz.has_started and not quiz.completed %}
                  <a href="{% url 'take-quiz' quiz.uuid %}" class="btn btn-primary w-100">Continue quiz</a>
                {% else %}
                  <a href="{% url 'take-quiz' quiz.uuid %}" class="btn btn-primary w-100">Start quiz</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?\page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
</div>
{% endblock content %}