{% extends '_base.html' %}
{% block title %}Your Quizzes{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3">Review Decks</h1>
      <p>Once you start, you will have 8 hours to complete the quiz and review your answers.</p>
    <div class="row">
      {% for quiz in quizzes %}
        <div class="col-md-4 p-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between align-items-start">
                <h5 class="card-title">{{ quiz.title }}</h5>
              </div>
              <p class="text-muted-small"><em>
                {% if quiz.not_started %}
                8 hours to review once started.
                {% elif quiz.is_expired %}
                Review time has expired.
                {% else %}
                  {{ quiz.hours_remaining }} hours {{ quiz.minutes_remaining }} mins left to review
                {% endif %}
                </em>
                </p>
              <p>{{ quiz.description }}</p>
              <p>{{ quiz.question_count }} questions</p>
              <div class="mt-auto">
                {% if quiz.is_expired %}
                  <a class="btn btn-primary w-100 disabled" aria-disabled="true">Review time has expired</a>
                {% else %}
                  <a href="{% url 'take-quiz' quiz.uuid %}" class="btn btn-primary w-100">Start Review</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}