{% extends '_base.html' %}

{% block title %}Single Question{% endblock %}

{% block content %}
<h1>Welcome to the Exam.</h1><br>
<h6>{{ question.question }}</h6>
{% comment %} <ul>
    {% for choice in question.choices.all %}
    <li>
        <p>{{ choice.choice_text }}</p>
    </li>
    
    {% endfor %}
</ul> {% endcomment %}

{% comment %} For each question in the Exam...  display questions one by one as user completes them.{% endcomment %}

<form action="" method="post">
    {% csrf_token %}
    {% for choice in question.choices.all %}
    
    <label for="{{ choice.id }}">{{ choice.choice_text }}</label>
    <input id="choice{{ choice.id }}" type="radio" name="{{question.id}}" value="choice{{ choice.id }}"><br>
    
    {% endfor %}
    <input type="submit" value="Next question">

</form>
  

    
{% endblock content %}